<div class="container main-container">

    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label>Buscar:</label>
                <input [(ngModel)]="search" name="buscar" (keyup.enter)="searchMovie()" type="text" class="form-control"
                    placeholder="Buscar una película">
            </div>
        </div>
       
    </div>
    <div class="row">
        <div class="card-columns">

            <div class="card" *ngFor="let mo of _msService.movies">
              <img class="card-img-top img-fluid" [src]="mo|noimage" [alt]="mo.original_title">
              <div class="card-block">
                <h4 class="card-title">{{ mo.original_title }}</h4>
                <p class="card-text text-justify">{{ mo.overview | slice:0:250}}...</p>
                <button type="button" class="btn btn-primary btn-block">Ver mas ...</button>
              </div>
            </div>
      
          </div>
    </div>
</div>